# Bytecode
__pycache__/
*.py[cod]

# Data
*.npy

# Video files
*.mp4
*.avi
*.mov
*.png
# IDEs and OS
.DS_Store
.vscode/
.idea/
*.swp

#other files
classes.txt
practicePalGUI.py
practicePalGUIv11.py
stereoinput.py
tk_test.py